@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: hsl(0, 0%, 98%);
}

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;	
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 2% 6%;
    transition: all .45s ease;
}

.header a img {
    width: 135px;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    padding: 3px 5px;
    margin: 0 25px;
    transition: right 0.3s ease-in-out;
}

button {
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 0.6rem;
    margin: 8px;
    border: none;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-align: center;
    text-decoration: none;
    transition: all .45s ease;
}

button a {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.header .bx {
    display: none;
}

.navMenu ul li {
    display: inline-block;
    padding: 3px 5px;
    margin: 0 5px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}

.navMenu ul li a {
    color: hsl(233, 8%, 62%);
    font-weight: 500;
}

.navMenu a:hover  {
    color: hsl(233, 26%, 24%);
    padding-bottom: 10px;
    border-bottom: solid hsl(136, 65%, 51%);
}

section {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 2% 6%;
}

.content {
    position: relative;
}

.content .drop {
    position: absolute;
    left: 750px;
    top: -120px;
    width: 600px;
}

.home{
    margin-top: 100px;
    padding-bottom: 10px;
}

.home .home-content h2 {
    margin-bottom: 10px;
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    font-size: 1.5rem;
}

.home .home-content p {
    font-family: "Public Sans", sans-serif;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
}

.home .home-content button {
    margin-left: 0;
}

.about {
    color: hsl(233, 26%, 24%);
    line-height: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: hsl(220, 16%, 96%);
}

.about h3 {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.about img {
    width: 40px;
}

.about h4 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 1rem;
}

.about p {
    margin-top: 20px;
    margin-bottom: 40px;
    color: hsl(233, 8%, 62%);
}

.about .about-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
}

.blog h3 {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.blog .blog-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    justify-content: center;
}

.blog .blog-text .vblog img {
    width: 290px;
    height: 280px;
    margin-bottom: 20px;
}

.blog .blog-text .vblog h5 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 10px;
    color: hsl(233, 26%, 24%);
    margin-left: 30px;
    margin-right: 30px;
}

.blog .blog-text .vblog h5:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

.blog .blog-text .vblog p {
    font-size: 0.5rem;
    color: hsl(233, 8%, 62%);
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.blog .blog-text .vblog .text {
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
    margin-bottom: 10px;
}


.footer{
    background-color: hsl(233, 26%, 24%);
    display: block;
    flex-wrap: wrap;
    padding: 1% 6%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.footer .attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.footer .attribution .icon img {
   width: 100px;
}

.footer .attribution .icon a i {
   color: hsl(220, 16%, 96%);
}

.footer .attribution .icon a i:hover {
    color: hsl(136, 65%, 51%);
}


.footer .attribution .footer1 ul li a {
    color: hsl(233, 8%, 62%);
    font-size: 0.5rem;
    line-height: 1rem;
}

.footer .attribution .footer1 ul li a:hover {
    color: hsl(136, 65%, 51%);
}

.footer .attribution .footer1 {
    margin-left: -400;
}

.footer .attribution .footer2 {
    margin-left: -300;
}

.footer .attribution .footer2 ul li a {
    color: hsl(233, 8%, 62%);
    font-size: 0.5rem;
    line-height: 1rem;
}

.footer .attribution .footer2 ul li a:hover {
    color: hsl(136, 65%, 51%);
}

.footer .attribution .footer3 p {
    color: hsl(233, 8%, 62%);
    font-size: 0.5rem;
    margin-right: 0;
}

@media (max-width: 1480px) {
    .header {
        padding: 2% 6%;
        transition: .1s;
    }

    section {
        padding: 2% 6%;
    }

    .footer {
        padding: 12px 6%;
    }

    .content .dop {
        display: none;
    }
}
  
@media (max-width: 1100px) {
    h2 {
        font-size: 1.3rem
    }

    .content {
        position: relative;
    }

   .content .drop {
        position: absolute;
        left: 170px;
        top: -40px;
        width: 200px;
    }

    .content .dop {
        display: none;
    }
}

@media (max-width: 920px) {

    .content {
    position: relative;
}

.content .drop {
    position: absolute;
    left: 500px;
    top: -50px;
    width: 400px;
}

.content .dop {
        display: none;
    }

}

@media (max-width: 700px) {
    .content {
    position: relative;
}

.content .drop {
    position: absolute;
    left: 400px;
    top: -40px;
    width: 250px;
}

.content .dop {
        display: none;
    }

    .header .bx {
        display: block;
        color: hsl(233, 26%, 24%);
        font-size: 30px;
        margin: 10px;
        cursor: pointer;
    }

    .navMenu {
        position: fixed;
        background-color: hsl(0, 0%, 100%);
        top: 0;
        right: -250px;
        z-index: 2;
        transition: all .45s  ease;
        text-align: center;
    }


    .navMenu ul {
        padding: 30px;
    }

    .navMenu ul li {
        display: block;
    }

    .navMenu a {
        display: block;
        font-size: 20px;
        transition: all .45 ease;
    }
}

@media (max-width: 480px) {

    .content {
        position: relative;
    }

   .content .drop {
        position: absolute;
        left: 200px;
        top: -20px;
        width: 200px;
    }

    .content .dop {
        display: none;
    }

    .blog .blog-text .vblog img {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
}

@media (max-width: 360px) {
    .header button {
        display: none;
    }

    .content {
        position: relative;
    }

    .content .dop {
        
    }



    .home {
        margin-top: 180px;
    }

    .home .home-content {
        text-align: center;
    }

    .about {
        text-align: center;
    }

    .blog h3 {
        text-align: center;
    }

    .blog .blog-text {
        text-align: center;
    }

    .footer .attribution {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .footer .attribution .icon {
        text-align: center;
    }

    .footer .attribution .footer1 {
        text-align: center;
    }

    .footer .attribution .footer2 {
        text-align: center;
    }

    .footer .attribution .footer3 {
        text-align: center;
    }

    h1 {
        font-size: 1rem
    }
}

@media (max-width: 1024px) {
    .content {
        position: relative;
    }

   .content .drop {
        position: absolute;
        left: 720px;
        top: -40px;
        width: 300px;
    }

    .content .dop {
        display: none;
    }
}



h1 {
    text-align: center;
    color: hsl(233, 8%, 62%);
    margin-top: 60px;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Public Sans", sans-serif;
}

